<!DOCTYPE html>
<html>
	<head>
		{{header}}
		<style>
			mjx-container { margin: .3em 0em !important }
			mjx-container { float: left!important; width: inherit !important; text-align: left !important; }
			mjx-container { display: inline-block!important; }
			mjx-container a { color: #444455 !important; cursor: pointer; }
			mjx-container a:hover { color: #4494FF !important; }
			mjx-container { display: inline-block!important; float: left; padding: 5px; }
		</style>
	</head>
	<body>
		<h1>Metamath Proof Explorer</h1>
		<hr />
		<h2>Theorem {{label}}</h2>
		<p><strong>Description:</strong> {{comment}}</p>
		<hr />
		<h3>Proof of theorem {{label}}</h3>
		<table>
			<tr>
				<th>Step</th>
				<th>Hyp</th>
				<th>Ref</th>
				<th>Expression</th>
			</tr>
			{{#each steps}}
				<tr>
					<td>{{id}}</td>
					<td>
						{{#each hyps }}<a href="#{{this}}">{{this}}</a>{{#if (not @last)}}, {{/if}}{{/each}}
					</td>
					<td><a href="{{label}}">{{label}}</a></td>
					<td><a name="{{id}}"></a>{{expr}}</td>
				</tr>
			{{/each}}
		</table>
	</body>
</html>