<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/metamath.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;500&family=Bitter:wght@200;500;700&display=swap">
		{{header}}
	</head>
	<body>
		<h1><logo/>Metamath Proof Explorer</h1>
		<hr />
		<h2>Theorem <span class="label">{{label}}</span></h2>
		<p><strong>Description:</strong> {{comment}}</p>
		<hr />
		<h3>Proof of theorem <span class="label">{{label}}</span></h3>
		<div class="proof">
			<table>
				<tr>
					<th class="col-step">Step</th>
					<th class="col-hyp" >Hyp</th>
					<th class="col-ref" >Ref</th>
					<th class="col-expr">Expression</th>
				</tr>
				{{#each steps}}
					<tr>
						<td class="col-step"><span class="step">{{id}}</span></td>
						<td class="col-hyp">
							{{#each hyps }}<a class="step" href="#{{this}}">{{this}}</a>{{#if (not @last)}} {{/if}}{{/each}}
						</td>
						<td class="col-ref" ><a href="{{label}}" class="label">{{label}}</a></td>
						<td class="col-expr"><a name="{{id}}"></a>{{expr}}</td>
					</tr>
				{{/each}}
			</table>
			<qed/>
		</div>
	</body>
</html>