<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/metamath.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;500&family=Bitter:wght@200;500;700&display=swap">
		{{header}}
	</head>
	<body>
		<nav>
			<ol class="breadcrumb">
			{{#each nav.breadcrumb}}
				<li><a href="{{link}}" {{#if stmt_level}}class="label"{{/if}}>{{name}}</a></li>
			{{/each}}
			</ol>
			{{#if nav.next}}
				<div>Next ⟩ <a href="{{nav.next.link}}" {{#if nav.next.stmt_level}}class="label"{{/if}}>{{nav.next.name}}</a></div>
			{{/if}}
		</nav>
		<h1><logo/>Metamath Proof Explorer</h1>
		<nav class="typesettings">
			<ul>
			{{#each nav.typesettings}}
				{{#if (ne dir ../explorer)}}
					<li><a href="../{{dir}}/{{../label}}">{{name}}</a></li>
				{{/if}}
			{{/each}}
			</ul>
		</nav>
		<hr />
		<h2>{{statement_type}} <span class="label">{{label}}</span></h2>
		<p><strong>Description:</strong> {{comment}}</p>

		<section class="statement">
			<table>
				<tr>
					<th class="col-step"></th>
					<th class="col-hyp" ></th>
					<th class="col-ref" >Ref</th>
					<th class="col-expr">Expression</th>
				</tr>
				{{#each hyps}}
					<tr>
						<td class="col-step"></td>
						<td class="col-hyp">{{#if @first}}{{#if @last}}Hypothesis{{else}}Hypotheses{{/if}}{{/if}}</td>
						<td class="col-ref" ><a href="{{label}}" class="label">{{label}}</a></td>
						<td class="col-expr">⊢ {{expr}}</td>
					</tr>
				{{/each}}
				<tr>
					<td class="col-step"></td>
					<td class="col-hyp">Assertion</td>
					<td class="col-ref" ><span class="label">{{label}}</span></td>
					<td class="col-expr">{{expr}}</td>
				</tr>
			</table>
		</section>
		<hr />

		{{#if steps}}
			<section class="proof">
				<h3>{{#if is_proof}}Proof{{else}}Detailed syntax breakdown{{/if}}</h3>
				<table>
					<tr>
						<th class="col-step">Step</th>
						<th class="col-hyp" >Hyp</th>
						<th class="col-ref" >Ref</th>
						<th class="col-expr">Expression</th>
					</tr>
					{{#each steps}}
						<tr>
							<td class="col-step"><span class="step">{{id}}</span></td>
							<td class="col-hyp">
								{{#each hyps }}<a class="step" href="#{{this}}">{{this}}</a>{{#if (not @last)}} {{/if}}{{/each}}
							</td>
							<td class="col-ref" ><a href="{{label}}" class="label">{{label}}</a></td>
							<td class="col-expr"><a name="{{id}}"></a>⊢ {{expr}}</td>
						</tr>
					{{/each}}
				</table>
				{{#if is_proof}}<qed/>{{/if}}
			</div>
		{{/if}}
	</body>
</html>