<!DOCTYPE html>
<html>
	<head>
		<title>{{name}}</title>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/metamath.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;500&family=Bitter:wght@200;500;700&display=swap">
		{{header}}
		<style>
			:root {
				--chapter-number: "{{#each nav.breadcrumb}}{{index}}{{#if index}}.{{/if}}{{/each}}";
			}
		</style>
	</head>
	<body>
		<nav>
			<ol class="breadcrumb">
			{{#each nav.breadcrumb}}
				<li><a href="{{link}}" {{#if stmt_level}}class="label"{{/if}}>{{name}}</a></li>
			{{/each}}
			</ol>
			{{#if nav.next}}
				<div>Next ⟩ <a href="{{nav.next.link}}" {{#if nav.next.stmt_level}}class="label"{{/if}}>{{nav.next.name}}</a></div>
			{{/if}}
		</nav>
		<h1><logo/>Metamath Proof Explorer</h1>
		<nav class="typesettings">
			<ul>
			{{#each nav.typesettings}}
				{{#if (ne dir ../explorer)}}
					<li><a href="../{{dir}}/{{../link}}">{{name}}</a></li>
				{{/if}}
			{{/each}}
			</ul>
		</nav>
		<hr />
		<h2>Table of Contents - {{#each nav.breadcrumb}}{{index}}{{#if index}}.{{/if}}{{/each}} {{name}}</h2>
		<ol class="toc">
			{{#each children}}
				<li><a href="{{link}}" {{#if stmt_level}}class="label"{{/if}}>{{name}}</a>
					<ol>
						{{#each children}}
							<li><a href="{{link}}" {{#if stmt_level}}class="label"{{/if}}>{{name}}</a></li>
						{{/each}}
					</ol>
				</li>
			{{/each}}
		</ol>
    </body>
</html>